---
import Layout from '../layouts/Layout.astro'
import Header from '../components/astro/header.astro'
import Footer from '../components/astro/footer.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const destacados = await getCollection('products')
---

<Layout title="CompuAudio Pereira">
  <Header />
  <section class="productsPage" aria-label="Nuestros productos">
    <div class="headerContainer">
      <div class="headerTitle">
        <h1>Nuestros productos</h1>
        <p>Encuentra los mejores productos de tecnología y audio en CompuAudio Pereira.</p>
      </div>
      <div class="filtersContainer"></div>
    </div>
    <div class="productsContainer">
      {
        destacados.map((producto: { slug: any; data: any }) => {
          const { slug, data } = producto
          return (
            <div class="productoCard">
              <button onclick={`sendToCart('${slug}')`} class="iconoCarrito">
                <img class="svg" src="/assets/cart-shopping-svgrepo-com.svg" alt="Carrito de compras" loading="lazy" />
              </button>
              <Image class="producImage" src={data.image} alt={data.title} loading="lazy" inferSize={true} width={80} height={80} />
              <div class="pb-2 px-2 min-h-28">
                <h3 class="font-bold text-lg line-clamp-2">{data.title}</h3>
                <span class="precio font-bold text-orange-600">${data.price.toLocaleString()}</span>
              </div>
              <a href={`/productos/${slug}`} class="buttonSeeProducts bg-orange-500 hover:bg-amber-500">
                Ver productos
              </a>
            </div>
          )
        })
      }
    </div>
    <div class="alerta-carrito">
      <img class="iconCheck" src="/assets/check-mark-svgrepo-com.svg" alt="Check Mark" />
      <span>Producto agregado al carrito</span>
    </div>
    <script type="module" src="/js/cart.js"></script>
  </section>
  <Footer />
</Layout>

<style>
  .productsPage {
    background-color: #f9f9f9;
    text-align: center;
  }

  .productsPage .headerContainer {
    margin-bottom: 2rem;
  }

  .productsPage .headerTitle h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
  }

  .productsPage .headerTitle p {
    font-size: 1.2rem;
    color: #666;
  }

  .productsPage .filtersContainer {
    margin-bottom: 2rem;
  }

  .productsPage .productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    justify-items: center;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .productsPage .productoCard {
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    width: 100%;
    max-width: 320px;
    position: relative;
  }

  .productsPage .productoCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .productsPage .productoCard .producImage {
    width: 100%;
    height: 20rem;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #fff;
  }

  .productsPage .productoCard h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #1a1a1a;
  }

  .productsPage .productoCard .precio {
    font-weight: bold;
    margin-bottom: 0.8rem;
    display: block;
  }

  .productsPage .productoCard .buttonSeeProducts {
    display: inline-block;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
  }

  .productsPage .productoCard .iconoCarrito {
    position: absolute;
    top: 7%;
    left: 11%;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .productsPage .productoCard:hover .iconoCarrito {
    opacity: 1;
  }

  .productsPage .productoCard .iconoCarrito .svg {
    width: 24px;
    height: 24px;
  }

  .productsPage .productoCard .iconoCarrito:hover {
    background-color: #dad8d8;
  }

  .productsPage .alerta-carrito {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000;
    border-radius: 6px;
    font-size: 0.95rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  .productsPage .alerta-carrito.visible {
    display: flex;
  }

  .productsPage .alerta-carrito .iconCheck {
    max-width: 24px;
    max-height: 24px;
  }
</style>
